<style > @import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');
</style > <style > @import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

</style > #home.body {
    font-family: 'Raleway', sans-serif;
    background: #315b96;
}

.container {
    position: absolute;
    top: 10%;
    left: calc(40% - 100px);
    border: 1px solid #fbc1bc;
    width: 400px;
    height: 32px;
    box-shadow: 1px 1px 5px #ffdfdf;
}

.nav {
    position: relative;
    top: -50%;
    height: 32px;
    width: 500px; //
    background: #ffdfdf;
}

.nav ul {
    list-style: none;
    position: relative;
    top: 30%; //
    background: #ffdfdf;
}

.nav ul li {
    display: inline; //
    background: #ffdfdf;
    margin-right: 30px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;

}

.nav ul li a {
    text-decoration: none;
    color: #233567;
}

.nav ul li:hover a {
    color: #909090;
}

.nav ul li:hover {
    background: #ffdfdf; //
    box-shadow: 0px 2px 3px 0px #404040;
    cursor: pointer;
}

.nav ul li:active a {
    color: #315b96;
}

.nav ul li:active {
    box-shadow: inset 1px 1px 10px 1px;
    color: #404040;
}

h1 {
    font-family: 'Staatliches';
    color: #233567;
    font-size: 50px;
    position: absolute;
    top: 0%;
    left: calc(30% - 290px);
}

p.tagline {
    font-family: 'Staatliches';
    color: #233567;
    font-size: 30px;
    position: absolute;
    top: 10%;
    left: calc(30% - 290px);

}
p.attractor {
    font-family: 'Staatliches';
    color: #233567;
    font-size: 30px;
    position: absolute;
    top: 15%;
    left: calc(70% - 400px);

}
div.intro {

    font-family: 'Staatliches';
    color: #233567;
    font-size: 30px;
    position: absolute;
    top:160px;
}
h3 {
    font-family: 'Staatliches';
    color: #233567;
    font-size: 30px;
    position: absolute;
    top:350px;
}


.retrievalpractice {
    font-family: 'Staatliches';
    color: #233567;
    font-size: 30px;
    position: absolute;
    top:400px;
}
.SpacedPractice {
    font-family: 'Staatliches';
    color: #233567;
    font-size: 30px;
    position: absolute;
    top:600px;
}
.Elaboration {
    font-family: 'Staatliches';
    color: #233567;
    font-size: 30px;
    position: absolute;
    top:750px;
}
.Interleaving {
    font-family: 'Staatliches';
    color: #233567;
    font-size: 30px;
    position: absolute;
    top:1000px;
}
.ConcreteExample{
   font-family: 'Staatliches';
    color: #233567;
    font-size: 30px;
    position: absolute;
    top:1200px;
}
.DualCoding{
      font-family: 'Staatliches';
    color: #233567;
    font-size: 30px;
    position: absolute;
    top:1400px;
}
.credits {
    font-family: 'Staatliches';
    color: #233567;
    font-size: 30px;
    position: absolute;
    top:1600px;
}
.featured{
    font-family: 'Staatliches';
    color: #233567;
    font-size: 30px;
    position: absolute;
    top:1800px;
}
